@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-bg: #ffffff;
  --color-text-primary: #000000;
  --color-text-secondary: #8564E7;
  --color-text-tertiary: #333343;

  /* font-family */
  --font-primary: Helvetica, Arial, sans-serif;

  /* text-size */
  --text-h1: 102px;
  --text-h2: 71px;
  --text-subheading: 26px;
  --text-paragragph: 26px;

  html,
  body{
    background-color: var(--color-bg);
    color: var(--color-text-primary);
    font-family: var(--font-primary);
  }

  h1{
    font-size: var(--text-h1);
    font-weight: 700;
    line-height: 1.1;
  }

  h2{
    font-size: var(--text-h2);
    font-weight: 600;
    line-height: 1.15;
  }
  
  subheading{
    font-family: var(--text-subheading);
    font-weight: 500;
    color: var(--color-text-secondary);
  }

  p{
    font-size: var(--text-paragraph);
    color: var(--color-text-tertiary);
    line-height: 1.6;
  }
}
